.desktop-button {
  padding: 2px 12px;

  background: #c0c0c0;
  color: #000;

  border: 2px solid;
  border-color: #fff #000 #000 #fff;

  font-size: 1rem;
  line-height: 1.25rem;

  cursor: pointer;
  box-shadow: 1px 1px 0 #000;

  user-select: none;

  &:active {
    border-color: #000 #fff #fff #000;
    box-shadow: none;

    padding-top: 3px;
    padding-left: 13px;
  }

  &:focus-visible {
    outline: 1px dotted #000;
    outline-offset: -4px;
  }

  &:disabled {
    color: #808080;
    text-shadow: 1px 1px #fff;
    cursor: default;
  }
}
