.side-assistant {
  position: fixed;

  width: 20dvw;
  &__speech {
    position: absolute;
    bottom: 100%; // character の上側に配置
    left: 0;
    height: auto;
    width: 100%;
    max-height: 75px;
    &--hidden {
      opacity: 0;
    }
  }

  &__character {
    img {
      user-select: none;
      -webkit-user-drag: none;
      height: auto;
      width: 100%;
      object-fit: contain;
    }

    &--hover {
      cursor: pointer;
    }

    &--grabbing {
      cursor: grabbing;
    }
  }
}
